---
import UsersGroup from '@/icons/UsersGroup.astro'
import { getI18N } from '@/languages/index'
import { philosophy } from '@/libs/consts'
import MainTitle from '../MainTitle.astro'

const currentLocale = Astro.currentLocale
const i18n = getI18N({ currentLocale })
const sections = philosophy(currentLocale)
---

<div class='flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12'>
	<MainTitle>
		<UsersGroup class='size-8' />
		{i18n.WHO_WE_ARE}
	</MainTitle>

	<div class='mx-auto grid max-w-6xl select-none gap-6 md:grid-cols-3 md:gap-2 lg:gap-6'>
		{
			sections.map(({ title, description, icon }, index) => (
				<div
					class={`group flex transform flex-col items-center rounded-xl bg-blue-950 p-6 text-center shadow-lg transition-transform hover:scale-105 ${index === 0 ? 'fade-right-anim' : ''} ${index === 1 ? 'fade-up-anim' : ''} ${index === 2 ? 'fade-left-anim' : ''}`}
				>
					<span class='text-5xl transition-all group-hover:-rotate-12'>{icon}</span>
					<h3 class='mt-4 text-2xl font-semibold text-primary'>{title}</h3>
					<p class='mt-2 text-secondary'>{description}</p>
				</div>
			))
		}
	</div>
</div>
