---
import Hero from '@/components/Hero.astro'
import Portfolio from '@/components/Portfolio.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import Statistics from '@/components/Statistics.astro'
import { getI18N } from '@/languages/index'
import Layout from '../layouts/Layout.astro'

const currentLocale = Astro.currentLocale
const i18N = getI18N({ currentLocale })
---

<Layout
	title='Foto Estudio El Chévere | Official Web'
	description={i18N.PAGE_DESCRIPTION}
	canonical='https://fotoestudioelchevere.com/'
>
	<section id='home' class='section relative h-full w-full overflow-hidden'>
		<div class='flex h-full w-full flex-col items-center justify-center'>
			<Hero />
		</div>
	</section>

	<SectionContainer id='statistics'>
		<img
			src='/statics/bg-1.avif'
			alt='Counter image hotel beach background'
			class='mask-image absolute -z-10 h-full w-full object-cover opacity-40'
		/>

		<Statistics />
	</SectionContainer>

	<SectionContainer id='portfolio'>
		<Portfolio />
	</SectionContainer>
</Layout>
