---
import SectionContainer from '@/components/SectionContainer.astro'
import About from '@/components/sections/About.astro'
import Hero from '@/components/sections/Hero.astro'
import Portfolio from '@/components/sections/Portfolio.astro'
import Statistics from '@/components/sections/Statistics.astro'
import { getI18N } from '@/languages/index'
import Layout from '../layouts/Layout.astro'

const currentLocale = Astro.currentLocale
const i18N = getI18N({ currentLocale })
---

<Layout
	title='Foto Estudio El Chévere - Official Web'
	description={i18N.PAGE_DESCRIPTION}
	canonical='https://fotoestudioelchevere.com/'
>
	<section id='home' class='section relative h-full w-full overflow-hidden'>
		<div class='flex h-full w-full flex-col items-center justify-center'>
			<Hero />
		</div>
	</section>

	<SectionContainer id='statistics'>
		<Statistics />
	</SectionContainer>

	<SectionContainer id='portfolio'>
		<Portfolio />
	</SectionContainer>

	<SectionContainer id='about'>
		<About />
	</SectionContainer>
</Layout>
