---
import Contact from '@/components/Contact.astro'
import Hero from '@/components/Hero.astro'
import Portfolio from '@/components/Portfolio.astro'
import SectionContainer from '@/components/SectionContainer.astro'
import Statistics from '@/components/Statistics.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
	title='Foto Estudio El Chévere | Official Web'
	description="The Photo Studio El Chevere's Website."
	canonical='https://fotoestudioelchevere.com/'
>
	<section id='home' class='section relative h-[65vh] w-full overflow-hidden'>
		<div class='flex w-full flex-col items-center justify-center'>
			<Hero />
		</div>
	</section>

	<SectionContainer id='statistics'>
		<img
			src='/statics/bg-1.avif'
			alt='Counter image hotel beach background'
			class='mask-image absolute -z-10 h-full w-full object-cover opacity-40'
		/>

		<Statistics />
	</SectionContainer>

	<SectionContainer id='portfolio'>
		<Portfolio />
	</SectionContainer>

	<SectionContainer id='contact'>
		<Contact />
	</SectionContainer>
</Layout>
