---
import SectionContainer from '@/components/SectionContainer.astro'
import About from '@/components/sections/About.astro'
import Hero from '@/components/sections/Hero.astro'
import Portfolio from '@/components/sections/Portfolio.astro'
import Statistics from '@/components/sections/Statistics.astro'
import type { Preload } from '@/interfaces/preload'
import { getI18N } from '@/languages/index'
import Layout from '../layouts/Layout.astro'

const currentLocale = Astro.currentLocale
const i18n = getI18N({ currentLocale })

const preload: Preload[] = [
	{
		href: 'https://www.fotoestudioelchevere.com/logo-hero.png',
		as: 'image',
		type: 'image/png',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-babies.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-weddings.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-portraits.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-events.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-birthdays.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-outdoors.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-couples.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-fifteens.webp',
		as: 'image',
		type: 'image/webp',
	},
	{
		href: 'https://www.fotoestudioelchevere.com/statics/categories/cat-graduations.webp',
		as: 'image',
		type: 'image/webp',
	},
]
---

<Layout
	title='Foto Estudio El Chévere - Official Web'
	description={i18n.PAGE_DESCRIPTION}
	canonical='https://fotoestudioelchevere.com/'
	preload={preload}
>
	<section id='home' class='section relative h-full w-full overflow-hidden'>
		<div class='flex h-full w-full flex-col items-center justify-center'>
			<Hero />
		</div>
	</section>

	<SectionContainer id='statistics'>
		<Statistics />
	</SectionContainer>

	<SectionContainer id='portfolio'>
		<Portfolio />
	</SectionContainer>

	<SectionContainer id='about'>
		<About />
	</SectionContainer>
</Layout>
