---
import SectionContainer from '@/components/SectionContainer.astro'
import { Scheduler } from '@/components/sections/Scheduler'
import Date from '@/icons/Date.astro'
import { getI18N } from '@/languages/index'
import Layout from '@/layouts/Layout.astro'

const currentLocale = Astro.currentLocale
const i18n = getI18N({ currentLocale })
---

<Layout
	title=`${i18n.DATES} - Foto Estudio El Chévere - Official Web`
	canonical='https://fotoestudioelchevere.com/schedule/'
	description={i18n.PAGE_DESCRIPTION}
>
	<SectionContainer>
		<div class='flex w-full max-w-4xl flex-col md:w-11/12 lg:w-8/12'>
			<h2 class='mb-8 flex items-center gap-x-3 text-3xl font-semibold text-primary sm:text-4xl'>
				<Date class='size-8' />

				{i18n.DATES}
			</h2>

			<Scheduler client:visible currentLocale={currentLocale} />
		</div>
	</SectionContainer>
</Layout>
