<button
	{...Astro.props}
	class='sm:hover:border-tranparent mt-4 flex w-full cursor-pointer flex-row items-center justify-center gap-2 rounded-xl border border-slate-400 bg-transparent px-3 py-2 text-lg font-bold text-primary transition active:border-transparent active:bg-sky-900 active:text-primary sm:hover:bg-slate-800 sm:hover:text-primary'
>
	<slot />
</button>
