<button
	{...Astro.props}
	class='mt-4 flex w-full cursor-pointer flex-row items-center justify-center gap-2 rounded-xl border border-transparent bg-sky-600 px-3 py-2 text-lg font-bold text-primary transition active:border-sky-600 active:bg-sky-700 active:text-secondary sm:hover:border-sky-600 sm:hover:bg-sky-700 sm:hover:text-secondary'
>
	<slot />
</button>
