---
import { Counter } from '@/components/Counter'
import Adjustments from '@/icons/Adjustments.astro'
import Calendar from '@/icons/Calendar.astro'
import UsersGroup from '@/icons/UsersGroup.astro'

const satisfiedCustomers = 1500
const photoStyles = 10
const years = 12
---

<div class='flex w-full max-w-4xl flex-col sm:w-11/12 md:w-8/12'>
	<div class='relative flex h-fit w-full items-center justify-center overflow-hidden'>
		<div
			class='grid w-full grid-cols-2 justify-items-center gap-x-8 gap-y-12 overflow-hidden sm:w-11/12 md:w-10/12 md:grid-cols-3 lg:w-8/12'
		>
			<div class='fade-right-anim flex flex-col items-center justify-center gap-4'>
				<UsersGroup class='size-14 text-white sm:size-16' />

				<span
					class='numbers text-center text-4xl font-bold tabular-nums tracking-tighter text-primary drop-shadow-lg'
				>
					<Counter value={satisfiedCustomers} />
				</span>

				<span class='text-center text-xl font-bold text-white'>Clientes <br /> Satisfechos</span>

				<span class='h-1 w-full rounded-xl bg-white'></span>
			</div>

			<div class='fade-right-anim flex flex-col items-center justify-center gap-4'>
				<Adjustments class='size-14 text-white sm:size-16' />

				<span
					class='numbers text-center text-4xl font-bold tabular-nums tracking-tighter text-primary drop-shadow-lg'
				>
					<Counter value={photoStyles} />
				</span>

				<span class='text-center text-xl font-bold text-white'>Estilos de <br /> fotos</span>

				<span class='h-1 w-full rounded-xl bg-white'></span>
			</div>

			<!-- <div class='fade-left-anim flex flex-col items-center justify-center gap-4'>
			<Calendar class='size-14 text-white sm:size-16' />

			<span
				class='numbers text-center text-4xl font-bold tabular-nums tracking-tighter text-primary drop-shadow-lg'
			>
				<Counter value={years} />
			</span>

			<span class='text-center text-xl font-bold text-white'>Años sirviendo</span>

			<span class='h-1 w-full rounded-xl bg-white'></span>
		</div> -->

			<div
				class='fade-left-anim col-span-2 flex flex-col items-center justify-center gap-4 md:col-span-1'
			>
				<Calendar class='size-14 text-white sm:size-16' />

				<span
					class='numbers text-center text-4xl font-bold tabular-nums tracking-tighter text-primary drop-shadow-lg'
				>
					<Counter value={years} />
				</span>

				<span class='text-center text-xl font-bold text-white'>Años <br /> sirviendo</span>

				<span class='h-1 w-full rounded-xl bg-white'></span>
			</div>
		</div>
	</div>
</div>
<style>
	.numbers {
		text-shadow: 1px 1px 10px rgba(104, 195, 255, 0.5);
	}
</style>
