---
import type { NavItem } from '@/interfaces/navItems'
import { getI18N } from '@/languages/index.ts'
import { navItemsProvider } from '@/libs/consts'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const navItems: NavItem[] = navItemsProvider(currentLocale)
---

<header class='fixed z-50 flex w-full justify-center'>
	<div
		id='header'
		class='flex h-auto w-full items-center justify-center overflow-hidden border border-transparent py-4 transition-transform'
	>
		<nav
			class='flex flex-row items-center justify-center gap-2 text-center font-semibold text-secondary md:gap-4'
		>
			{
				navItems.map((item) => (
					<a
						href={item.url}
						aria-label={item.label}
						class='inline-flex h-full select-none items-center justify-center gap-2 rounded-3xl border border-transparent p-2 text-center transition-colors hover:bg-secondary/5 md:p-4 md:hover:border-secondary/10'
					>
						<item.icon class='hidden size-6 md:block' />
						{item.title}
					</a>
				))
			}
		</nav>
	</div>
</header>

<style>
	#header {
		animation: bgBlur linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
	}

	@keyframes bgBlur {
		to {
			@apply border-b-main/30 bg-black/30 py-2 shadow-xl shadow-main/5 backdrop-blur-lg;
		}
	}
</style>
