---
import WhatsApp from '@/icons/WhatsApp.astro'
import { businessWhatsApp } from '@/libs/consts'
---

<a
	href={businessWhatsApp}
	target='_blank'
	rel='noopener noreferrer'
	class='group fixed bottom-6 right-4 z-30 flex size-12 cursor-pointer items-center justify-center rounded-xl border border-slate-800 bg-blue-950 text-secondary transition duration-300 active:border-green-700 active:bg-green-800 active:text-primary md:hover:border-green-700 md:hover:bg-green-800 md:hover:text-primary'
>
	<WhatsApp class='size-6' />
</a>
