---
import WhastApp from '@/icons/WhastApp.astro'
---

<a
	href='https://wa.me/18095734173'
	target='_blank'
	class='group fixed bottom-4 right-4 z-30 flex size-10 cursor-pointer items-center justify-center rounded-xl border border-slate-800 bg-slate-900 text-slate-400 transition duration-300 active:border-green-700 active:bg-green-800 active:text-slate-200 sm:hover:border-green-700 sm:hover:bg-green-800 sm:hover:text-slate-200'
>
	<WhastApp class='size-6' />
</a>
